# requirements.txt. is read dynamically for pyproject.toml and related usages (editeable install, CI, build, etc..)
wxpython == 4.2.5 ; platform_system == 'Windows'
wxpython >= 4.2.5, < 5 ; platform_system != 'Windows'
# NB: limiting wxpython to <4.3 as current latest(4.3.1) makes laggy cam content refresh in UI
psychopy >= 2026.1, < 2027  # experiments run
numpy >= 2, < 3 ; python_version >= '3.12'
numpy >= 1.24, < 2 ; python_version < '3.12'
ruamel.yaml >= 0.19, < 1
labjack-ljm >= 1.23, < 2  # data acquisition
pyshortcuts >= 1.9.9, < 2
pyaudio >= 0.2.14, < 1  # audio play/record
mss >= 10, < 11  # An ultra fast cross-platform multiple screenshots module in pure python using ctypes.
pywin32 >= 312, < 400 ; platform_system == 'Windows'  # 312 is available since python 3.10 already.
spinnaker_python >= 4.3, < 4.5
setuptools-scm >= 9.2.2, < 10
